body {
    display: grid;
    background-color: rgb(177, 174, 174);
    margin: auto 10px;

}
header {
    text-align: center;
    font-size: 80px;
    
    
    
}
h1 {
    text-align: center;
}
h2 {
    font-size: 60px;
}
ul {
    border: 8px dotted black;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.hangmanboard {
    margin: auto;
    background-color: white;
    height: 400px;
    width: 700px;
}
.instructions {
    font-size: 30px;
    align-content: center;
    
}
button{
    font-size: 30px;
    padding: 10px;
    /* width: 60%; */
    height: 50%;
    width:10%;
}
.container {
    border: 6px solid black;
    font-size: 30px;
    align-content: center;

}

.wordboard {
    text-align: center;
    background-color: white;
    /* border: 3px solid black; */
    /* width: 95%; */
    height: 100px;
    width: 700px;
    margin: auto;
    padding-bottom: 15px;

}
footer {
    border-top: 10px solid black;
    

}

.undo-button {
    
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }